body{
  margin: 0;
  scroll-behavior: smooth;
}

.not-visible{
  opacity: 0;
}

.visible{
  opacity: 1;
}

.app{
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'national-park';
  font-family: 'Cormorant Garamond', serif;

}

@font-face {
  font-family: 'national-park';
  src: url('./typefaces/nationalPark/NationalPark-Regular.otf') format("opentype");
}

:root{
  --header-1-font-size: 3rem;
  --header-1-mobile-font-size: 2rem;
  --header-2-font-size: 2rem;
  --header-2-mobile-size: 1.25rem;
  --mission-font-size: 2.5rem;
  --nav-bar-background: rgb(0, 0, 0, 0.2);
  --sage: #8abc8a;
  --sage-shadow: #5b975b;
  --sage-lite: #a3caa3;
  --bronze-gold: #C9AE5D;
  --bronze: 	#CD7F32;
}

#nav-bar{
  position: relative;
  
  height: 120px;
  background-color: var(--nav-bar-background);
  text-align: center;
  
}

#nav-bar a {
  
  text-decoration: none;
  z-index: 3;
}

#all-nav-links{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 

}

.nav-link{
  margin-left: 30px;
  font-size: var(--header-2-font-size);
  color: whitesmoke;
}

.greeting-btns{
  position: absolute;
  top: 30vh;
  left: 70vw;
  display: flex;
  justify-content: space-around;
  width: 300px;
  transform: translateX(-50%);
}


.btns{
  border: solid var(--sage);
  color: rgba(0, 0, 0);
  width: 130px;
  height: 42px;
  border-radius: 4px 4px 4px 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--sage);
 
}

.btns-inverted{
  border: solid var(--sage);
  color: var(--sage);
  width: 130px;
  height: 42px;
  border-radius: 4px 4px 4px 4px;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
}

.parallax-wrapper{
  height: 100vh;
  min-height: 390px;
 /* width: 80vw;
  float: right;
  */
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 400px;
  scroll-behavior: smooth;
 
}

.title{
  position: absolute;
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 5px black;

  width: 33vw;
  height: 33vh;

  left: 14vw;
  top: calc(6vh);
 
  /*transform: translateZ(40px)  scale(0.9);*/
      /* 1.618 version */
  opacity: 1;
  animation: fadeInUp 2s;
}

@keyframes fadeInUp{
  from {
    opacity: 0;
    transform: translateY(-40px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    
  }
}

.parallax-toad{
  position: absolute;
  z-index: 1;
}

.toad-right {
  top: 60vh;
  left: 50vw;
  width: 350px;

  /* p_mid_bottom*/
  transform: translateZ(-150px)  scale(1.375) scaleX(-1);

   /* p_bottom */
   transform: translateZ(-100px) translateX(-50%)  scale(1.25);

}

.parallax-wrapper::-webkit-scrollbar {
  display: none;
}

#parallax-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    scrollbar-width: none;
}



.way-background,
.background,
.foreground,
.p_top,
.p_middle_top,
.p_middle_bottom,
.p_bottom{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
 
}



.way-background {
  /* subtle version */
  transform: translateZ(-800px)  scale(3);
}
.background{
  /*transform: translateZ(-200px)  scale(1.5);*/

  /* subtle version */
  /*transform: translateZ(-200px)  scale(1.5);*/

  /* 1.618 version */
  transform: translateZ(-495px)  scale(2.2375);
}

.foreground{
  transform: translateZ(-40px)  scale(1.1);
}

.p_top{
  /*transform: translateZ(-40px)  scale(1.1);*/

  /* subtle version */
 /* transform: translateZ(-100px)  scale(1.25);*/

  /* 1.618 version */
  transform: translateZ(-306px)  scale(1.765);
}

.p_middle_top{
  /*transform: translateZ(-20px)  scale(1.05);*/

  /* subtle version */
  /*transform: translateZ(-80px)  scale(1.2);*/

    /* 1.618 version */
    /*transform: translateZ(-189px)  scale(1.4725);*/

   /* straight line version */
   transform: translateZ(-244px)  scale(1.61);
 
}

.p_middle_bottom{
  /*transform: translateZ(40px)  scale(0.9);*/

  /* subtle version */
 /* transform: translateZ(-40px)  scale(1.1);*/

    /* 1.618 version */
    /*transform: translateZ(-117px)  scale(1.2925);*/
      
    /* straight line version */
   transform: translateZ(-150px)  scale(1.375);
}

.p_bottom{
 

 /* subtle version */
 /* no transform */

     /* 1.618 version */
     /*transform: translateZ(-72px)  scale(1.18);*/

            /* straight line version */
   transform: translateZ(-100px)  scale(1.25);
}




#text-section{
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.parallax-image{
  width: 100vw;

}

/* after parallax */

#home-top-image-div{
  /*position: relative;*/
  /*max-width: 80vw;*/
  height: 100vh;
  margin: auto;

}


#prarie-one-image{
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
 z-index: -1;
  

}

#home-top-image-text-div{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 33;

}


#home-top-image-text{

  font-size: var( --mission-font-size);
  line-height: 3rem;
  color: whitesmoke;
}

#goals-list{
  display: flex;
  flex-direction: column;

}

.goal-item{
  border: solid black 2px;
  min-height: 90px;
}

#lizard-left{
  width: 200px;
  margin-left: auto;
}

#lizard-right{
  position: absolute;
  width: 200px;
  top: 200px;
}

#yellow-grass-img{
  position: absolute;
  transform: scaleX(-1);
  bottom: 0px;
  right: 0;
  max-height: 400px;
  z-index: 44;
}


















/* TABLET SETTINGS*/

@media only screen and (max-width: 960px){

  .parallax-wrapper{
    min-height: 360px;
  }


  .nav-link{
    margin-left: 0.5rem;
    font-size: var(--header-2-mobile-size);
    color: whitesmoke;
  }

  #nav-bar{
    position: relative;
    height: 60px;
    background-color: var(--nav-bar-background);
    text-align: center;
  }

  .title{
    position: absolute;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: white;
    text-shadow: none;
    text-align: center;
    width: 63vw;
    height: 33vh;
  
    left: 50vw;
    top: 30vh;
   
    /*transform: translateZ(40px)  scale(0.9);*/
        /* 1.618 version */
  animation: tabletFadeInUp 1s ease-in;
  
  transform: translateY(-50%) translateX(-50%);
  }

  @keyframes tabletFadeInUp{
    from {
      opacity: 0;
      transform: translateY(-100%) translateX(-50%);
      
    }
    to {
      opacity: 1;
      transform: translateY(-50%) translateX(-50%);
      
    }
  }



  .greeting-btns{
    position: absolute;
    top: 55vh;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 130px;
    height: 100px;
    transform: translateX(-50%) translateY(-80%);
  
  }

  .btns{
    border: solid var(--sage);
    color: rgba(0, 0, 0);
    width: 130px;
    height: 42px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--sage);
   
  }
  
  .btns-inverted{
    border: solid var(--sage);
    color: var(--sage);
    width: 130px;
    height: 42px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
   
  }

  .toad-right {
    top: 63vh;
    left: 50vw;
    width: 33vw;
    min-width: 250px;
  
    /* p_mid_bottom*/
    transform: translateZ(-150px)  scale(1.375) scaleX(-1);
  
     /* p_bottom */
     transform: translateZ(-100px) translateX(-50%)  scale(1.25);
  
  }




}






















/* MOBILE SETTINGS*/

@media only screen and (max-width: 690px){


  .parallax-wrapper{
    min-height: 360px;
  }

  .title{
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
    color: white;
    text-shadow: none;
    text-align: center;
    width: 63vw;
    height: 33vh;
  
    left: 50vw;
    top: 20vh;
   
    /*transform: translateZ(40px)  scale(0.9);*/
        /* 1.618 version */
  animation: mobileFadeInUp 1s ease-in;
  
  transform: translateY(-50%) translateX(-50%);
  }

  @keyframes mobileFadeInUp{
    from {
      opacity: 0;
      transform: translateY(-100%) translateX(-50%);
      
    }
    to {
      opacity: 1;
      transform: translateY(-50%) translateX(-50%);
      
    }
  }


  .greeting-btns{
    position: absolute;
    top: 50vh;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 130px;
    height: 100px;
    transform: translateX(-50%) translateY(-80%);
  
  }

  .btns{
    border: solid var(--sage);
    color: rgba(0, 0, 0);
    width: 130px;
    height: 42px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--sage);
   
  }
  
  .btns-inverted{
    border: solid var(--sage);
    color: var(--sage);
    width: 130px;
    height: 42px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
   
  }

  .toad-right {
    top: 63vh;
    left: 50vw;
    width: 250px;
  
    /* p_mid_bottom*/
    transform: translateZ(-150px)  scale(1.375) scaleX(-1);
  
     /* p_bottom */
     transform: translateZ(-100px) translateX(-50%)  scale(1.25);
  
  }


}




